.main-container{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Passions Conflict', cursive;
    font-weight: 500;
}
*::before, *::after{
    padding:0;
    margin:0;
}
:root{
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
    --darkwhite: #cecaca;
    --brightblue: #51e2f5;
    --bluegreen: #9df9ef;
    --dustywhite: #edf756;
    --pinksand: #ffa8B6;
    --darksand: #a28089;
    --icecold: #a0d2eb;
    --mediumpurple: #d0bdf4;
    --freezepuprle: #e5eaf5;
    --nightblueshadow: #12343b;
    --yassqueen: #ff1d58;
    --brightlyorange: #ff1e00;
    --granpaorange: #ffb766;
    --tangerineorange: #DD4124;
}
h1 .music-icon {
    color: var(--nightblueshadow);
    font-size: 28px;
}
header .title {
    text-align:  center;
    margin :0px; 
    color: var(--nightblueshadow);
    font-size: 63px;
}

body{
    display: block;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.music-container{
    z-index: 1;
    width: 380px;
    position: relative;
    border-radius: 15px;
    padding: 25px 30px;
    background: var(--granpaorange);
    box-shadow: 0px 6px 15px var(--lightbshadow);
    overflow: hidden;
    margin: auto;
}
.music-container i{
    cursor: pointer;
}
.top-bar, .music-btn, .progress-area .song-timer, .music-btn, .music-list .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar i{
    color: var(--lightblack);
    font-size: 32px;
}
.top-bar span{
    font-size: 56px;
    color: var(--lightblack);
}
/*--- img-container */
.img-container{
    width: 100%;
    overflow: hidden;
    margin: 30px 0px 25px 0px;
    height: 243px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px var(--lightbshadow);   
}
.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: heart 1.2s linear infinite 0.2s alternate;
    transform: rotate(-45deg);
}
/*--- song-details */
.song-details{
    text-align: center;
    margin: 25px 0;
}
.song-details .name{
    font-size: 60px;
}
.song-details .artist{
    font-size: 55px;
    opacity: 0.9;
}
/*--- progress-area */
.progress-area{
    height: 6px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    position: relative  ;
    width: 50%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
.progress-bar::before {
 content: "";
 position: absolute;
 height: 12px;
 width:  12px;
 background: inherit;
 border-radius: 50%;
 top: 50%;
 right: -5px;
 z-index:2;
 pointer-events: none;
 transform: translateY(-50%);
 opacity: 0;
 transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
 opacity: 1;
 pointer-events: auto;
}
.progress-area .song-timer{
    margin-top:2px;
}
.song-timer span{
    font-size:16px;
    color: var(--lightblack);
    font-family: "Poppins";
}
.music-btn{
    margin: 40px 0 5px 0;
}
.music-btn i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--white)0%, var(--lightbshadow)100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--violet);
}
.music-btn i:nth-child(2),
.music-btn i:nth-child(4){
    font-size: 53px;
}
.music-btn .prev{
 margin-right: -13px;
}
.music-btn .next{
    margin-left: -13px;
}
.music-btn .play-pause{
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--white)0%, var(--darkwhite)100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.play-pause i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: inherit;
    box-shadow: 3px 3px 12px red;
    background-clip:text;
}
/*--- music-list */
.music-list{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    padding: 15px 30px;
    transition: all 0.14s ease-out;
}
.music-list .show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
}
.header .row i{
    cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.music-list li{
    font-size: 15px;
}
.header .close{
    font-size: 22px;
    color: var(--lightblack);
}
.music-list ul{
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li{
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color: var(--lightblack);
    border-bottom: 1px solid #e5e5e5;
    
}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .row span{
    font-size: 17px;
}
ul li .row p{
    opacity: 0.9;
}
ul li .audio-duration{
    font-size: 16px;
}
#del {
    font-size: 60px;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 50%;
    font-size: 50px;
    padding: 40px;
    margin: 20px;
}
.submit{
    width: 200px;
    height: 50px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.heart{
    outline: none;
    text-decoration: none;
    position: sticky;
    z-index: 0;
    width: 180px;
    height: 180px;
    background: #F90B57;
    box-shadow: 0 0 20px #ff155f,
                0 0 60px #ff155f;
    transform: rotate(-45deg);
    animation: heart 1.2s linear infinite 0.2s alternate;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1);
    }
    90%{
        transform: rotate(-45deg) scale(1.6);
    }
    100%{
        transform: rotate(-45deg) scale(1.4);
    }
}
.heart::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: -50%;
}
.heart::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F90B57;
    border-radius: 50%;
    left: 0;
    top: -50%;
}
.heart::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F90B57;
    border-radius: 50%;
    top: 0;
    right: -50%;
}
